{
  "presets": [
    "stage-0", 
    ["env", {
      "targets": {
        "node": "current"
      },
      "useBuiltIns": true
    }]
  ],
  "plugins": [[
      "module-resolver", {
        "root": ["./"],
        "alias": {
          "utils": "./src/utils"
        }
      }
    ]
  ],
  "ignore": ["src/public"]
}
