{
  "presets": [[
    "@babel/preset-env", {
      "targets": {
        "node": "current",
      },
      "useBuiltIns": "entry",
      "corejs": "3",
    }],
  ],
  "plugins": [
    "@babel/plugin-proposal-object-rest-spread",
    "@babel/plugin-proposal-class-properties",
  ],
}